body {
  background-image: url(/public/assets/imgs/open-book.jpg);
  background-size: cover;
}

h1 {
  color: rgb(10, 63, 99);
  font-family: "Times New Roman", Times, serif;
  font-size: 100px;
}

h3 {
  color: white;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* book cover hover button*/
button:hover {
  box-shadow: 0 8px 20px 0 rgb(255, 255, 255);
}
