body {
  background-color: rgb(12, 12, 11);
}

input {
  width: 300px !important;
}

#searchBtn {
  color: rgb(12, 12, 11);
  margin-left: 3px;
}

#searchBtn:hover {
  box-shadow: 0px 0px 0px;
}

.btn-primary {
  margin-left: 10px;
  height: 37.5px;
  box-shadow: none;
  font-weight: bold !important;
  font-family: sans-serif !important;
}

#wishlistBtn {
  box-shadow: none;
  margin-left: 10px;
  padding: 11px;
}

.nav-link {
  color: rgb(171, 210, 241) !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: rgb(125, 203, 255);
  font-family: "Times New Roman", Times, serif;
  font-size: 100px;
}

h3 {
  color: white;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h5 {
  font-size: 18px;
  line-height: 25px;
  color: rgb(30, 30, 44);
}
#rec1-img {
  align-items: left;
  margin-left: -250px;
  margin-top: -150px; /*-90 or -190*/
  margin-bottom: 0px; /*or 20*/
  margin-right: 40px;
  height: 150px;
  width: 100px;
  /* padding-right: 30px; */
  /* contain: size; */
  position: sticky;
}

#rec2-img {
  align-items: left;
  margin-left: -118px; /*-250*/
  margin-top: -140px; /*-90 or -190*/
  margin-bottom: 0px; /*or 20*/
  margin-right: 40px;
  height: 150px;
  width: 100px;
  /* padding-right: 30px; */
  /* contain: size; */
  position: sticky;
}

#rec3-img {
  align-items: left;
  margin-left: -250px; /*-250*/
  margin-top: -140px; /*-90 or -190*/
  margin-bottom: 0px; /*or 20*/
  margin-right: 40px;
  height: 150px;
  width: 100px;
  /* padding-right: 30px; */
  /* contain: size; */
  position: sticky;
}

.list-group {
  margin-right: 25px;
  margin-top: 30px;
  background-color: rgb(125, 203, 255);
  /* align-content: center; */
}
.list-group-item {
  padding: 20px;
  padding-right: 30px;
  padding-left: 150px;
}

#latin-omit {
  color: transparent;
}

#genre {
  text-align: right;
  color: black;
  transform: translate(-12px, 20px);
}

#permanent-books {
  border-style: double;
  border-color: rgb(250, 250, 250);
  border-width: 18px;
  padding: 30px;
  /* padding-left: 126px; */
  margin: 10px;
  text-align: center;
}

/*permanent book collapsed info*/
h4 {
  color: white;
  padding: 5px;
  padding-left: 10px;
  /* text-align: center; */
}

/*permanent book collapsed info box and position*/
/*original margin-left: 14px, 300px, 585px*/
#collapseCaptain {
  color: white;
  /* margin-left: 14px; */
  margin-left: 400px;
  position: sticky;
}

#collapseGatsby {
  color: white;
  /* margin-left: 300px; */
  margin-left: 548px;
  position: sticky;
}

#collapseWind {
  color: white;
  /* margin-left: 585px; */
  margin-left: 690px;
  position: sticky;
}

#collapseVampire {
  color: white;
  /* margin-left: 14px; */
  margin-left: 400px;
  position: sticky;
}

#collapseOrwell {
  color: white;
  /* margin-left: 300px; */
  margin-left: 548px;
  position: sticky;
}

#collapseHenry {
  color: white;
  /* margin-left: 585px; */
  margin-left: 690px;
  position: sticky;
}

#collapseRing {
  color: white;
  /* margin-left: 14px; */
  margin-left: 400px;
  position: sticky;
}

#collapseMurder {
  color: white;
  /* margin-left: 300px; */
  margin-left: 548px;
  position: sticky;
}

#collapseGun {
  color: white;
  /* margin-left: 585px; */
  margin-left: 690px;
  position: sticky;
}

#collapseSap {
  color: white;
  /* margin-left: 14px; */
  margin-left: 400px;
  position: sticky;
}

#collapseNote {
  color: white;
  /* margin-left: 300px; */
  margin-left: 548px;
  position: sticky;
}

#collapseWilderness {
  color: white;
  /* margin-left: 585px; */
  margin-left: 690px;
  position: sticky;
}

/* book covers */
#captain {
  background-image: url("/public/assets/imgs/book-covers/captain-underpants-book-cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  /* color: white; */
  font-size: 5px;
  /* padding: 20px; */
  margin: 16px;
  display: inline-block;
  width: 250px;
  height: 400px;
  border-style: solid;
  border-color: rgb(36, 31, 31);
  border-width: 3px;
  border-radius: 0.5rem;
  position: sticky;
}

#gatsby {
  background-image: url("/public/assets/imgs/book-covers/thegreatgatsbycover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  /* color: white; */
  font-size: 5px;
  /* padding: 20px; */
  margin: 16px;
  display: inline-block;
  width: 250px;
  height: 400px;
  border-style: solid;
  border-color: rgb(36, 31, 31);
  border-width: 3px;
  border-radius: 0.5rem;
  position: sticky;
}

#wind {
  background-image: url("/public/assets/imgs/book-covers/gonewiththewindcover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  /* color: white; */
  font-size: 5px;
  /* padding: 20px; */
  margin: 16px;
  display: inline-block;
  width: 250px;
  height: 400px;
  border-style: solid;
  border-color: rgb(36, 31, 31);
  border-width: 3px;
  border-radius: 0.5rem;
  position: sticky;
}

#vampire {
  background-image: url("/public/assets/imgs/book-covers/interviewwithavampirecover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  /* color: white; */
  font-size: 5px;
  /* padding: 20px; */
  margin: 16px;
  display: inline-block;
  width: 250px;
  height: 400px;
  border-style: solid;
  border-color: rgb(36, 31, 31);
  border-width: 3px;
  border-radius: 0.5rem;
  position: sticky;
}

#orwell {
  background-image: url("/public/assets/imgs/book-covers/1984cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  /* color: white; */
  font-size: 5px;
  /* padding: 20px; */
  margin: 16px;
  display: inline-block;
  width: 250px;
  height: 400px;
  border-style: solid;
  border-color: rgb(36, 31, 31);
  border-width: 3px;
  border-radius: 0.5rem;
  position: sticky;
}

#henry {
  background-image: url("/public/assets/imgs/book-covers/kinghenryvcover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  /* color: white; */
  font-size: 5px;
  /* padding: 20px; */
  margin: 16px;
  display: inline-block;
  width: 250px;
  height: 400px;
  border-style: solid;
  border-color: rgb(36, 31, 31);
  border-width: 3px;
  border-radius: 0.5rem;
  position: sticky;
}

#ring {
  background-image: url("/public/assets/imgs/book-covers/lotrcover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  /* color: white; */
  font-size: 5px;
  /* padding: 20px; */
  margin: 16px;
  display: inline-block;
  width: 250px;
  height: 400px;
  border-style: solid;
  border-color: rgb(36, 31, 31);
  border-width: 3px;
  border-radius: 0.5rem;
  position: sticky;
}

#murder {
  background-image: url("/public/assets/imgs/book-covers/murderontheorientexpresscover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  /* color: white; */
  font-size: 5px;
  /* padding: 20px; */
  margin: 16px;
  display: inline-block;
  width: 250px;
  height: 400px;
  border-style: solid;
  border-color: rgb(36, 31, 31);
  border-width: 3px;
  border-radius: 0.5rem;
  position: sticky;
}

#gun {
  background-image: url("/public/assets/imgs/book-covers/topguncover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  /* color: white; */
  font-size: 5px;
  /* padding: 20px; */
  margin: 16px;
  display: inline-block;
  width: 250px;
  height: 400px;
  border-style: solid;
  border-color: rgb(36, 31, 31);
  border-width: 3px;
  border-radius: 0.5rem;
  position: sticky;
}

#sap {
  background-image: url("/public/assets/imgs/book-covers/sapienscover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  /* color: white; */
  font-size: 5px;
  /* padding: 20px; */
  margin: 16px;
  display: inline-block;
  width: 250px;
  height: 400px;
  border-style: solid;
  border-color: rgb(36, 31, 31);
  border-width: 3px;
  border-radius: 0.5rem;
  position: sticky;
}

#notebook {
  background-image: url("/public/assets/imgs/book-covers/thenotebookcover.jpg");
  background-size: 99.9%;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5px;
  /* padding: 20px; */
  margin: 16px;
  display: inline-block;
  width: 250px;
  height: 400px;
  border-style: solid;
  border-color: rgb(36, 31, 31);
  border-width: 3px;
  border-radius: 0.5rem;
  position: sticky;
}

#wilderness {
  background-image: url("/public/assets/imgs/book-covers/bravingthewildernesscover.jpg");
  background-size: 107%;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  /* color: white; */
  font-size: 5px;
  /* padding: 20px; */
  margin: 16px;
  display: inline-block;
  width: 250px;
  height: 400px;
  border-style: solid;
  border-color: rgb(36, 31, 31);
  border-width: 3px;
  border-radius: 0.5rem;
  position: sticky;
}
/* book cover hover button*/
button:hover {
  box-shadow: 0 8px 20px 0 rgb(255, 255, 255);
}

/*found book block*/
.card {
  border-style: solid;
  width: 250px;
  height: 250px;
}

.save-remove-btns {
  text-align: center;
  margin: 20px;
  margin-top: 40px;
}
